In [1]:
%load_ext sql

In [3]:
from time import time
import configparser
import matplotlib.pyplot as plt
import pandas as pd
import os

In [19]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))
KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

DWH_DB= config.get("CLUSTER","DB_NAME")
DWH_DB_USER= config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD= config.get("CLUSTER","DB_PASSWORD")
DWH_PORT = config.get("CLUSTER","DB_PORT")
DWH_ENDPOINT = 'dwhcluster.c4qlmaionye6.us-west-2.redshift.amazonaws.com'

In [20]:
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c4qlmaionye6.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Types of users

In [22]:
%sql SELECT level, COUNT(user_id) FROM songplays GROUP BY level

 * postgresql://dwhuser:***@dwhcluster.c4qlmaionye6.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('paid', 271), ('free', 62)]

## Location having having maximum songplays

In [24]:
%sql SELECT location, COUNT(location) FROM songplays GROUP BY location ORDER BY COUNT(location) DESC LIMIT 1

 * postgresql://dwhuser:***@dwhcluster.c4qlmaionye6.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('San Francisco-Oakland-Hayward, CA', 42)]

## Details of most active user

In [25]:
%%sql
SELECT first_name, last_name, gender, u.level, COUNT(s.user_id) 
FROM songplays s 
JOIN users u ON s.user_id = u.user_id 
GROUP BY first_name, last_name, gender, u.level
ORDER BY COUNT(s.user_id) DESC LIMIT 1

 * postgresql://dwhuser:***@dwhcluster.c4qlmaionye6.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('Chloe', 'Cuevas', 'F', 'free', 42)]